body {
    background-color: black;
}

h4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    cursor: crosshair;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

samp {
    color: rgb(72, 255, 0);
    font-family: 'Courier New', Courier, monospace;
}


small {
    color: rgb(255, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.hi {
    background-color: black;
    outline: 0cap;
    color: white;
}

.test {
    background-color: black;
    outline: 0cap;
    color: white;
}